@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
    --pink: #f62356;
    --black: #2f2f2f;
    --white: #f4f2f3;
    --grey: #738290;
    --pfont: 'Raleway', sans-serif;
    --titlefont: 'Squada One', cursive;
  }

body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }


* {
    box-sizing: border-box;
}

h1 {
    font-family: var(--titlefont);
    font-weight: 400;
    margin: 0;
}

h2 {
    font-family: var(--titlefont);
    font-weight: 400;
}

p {
    font-family: var(--pfont);
}

button {
    border: none;
    font-family: var(--pfont);
}


/*Header*/
.header-container {
    height: 100vh;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 15PX;
}

#tsparticles {
    width: 100%;
    height: 100%;
    position: absolute;
}

.header-content-container {
    position: relative;
    width: 90%;
    display: flex;
    height: 100vh;
    margin: 0;
}

.header-left-content-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.header-title {
    font-size: 55px;
    line-height: 80px;
}

.smallc {
    position: relative;
    height: 85px;
    margin-right: -5px;
    bottom: -5px;
    
}

.header-text {
    color: var(--grey); 
    padding: 5px 0 5px 0; 
    width: 100%;  
}

.main-button {
    padding: 10px;
    background-color: var(--pink);
    color: var(--white);
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    width: 114px;
}

.main-button:hover {
    background-color: var(--white);
    color: var(--pink);
    transition-duration: 0.35s;
}

.header-logo-container {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
    margin: 0;
    padding-left: 30px;
    position: relative;
}

.largelogo {
    width: 100%;
    height: 100vh;
    margin: 0;
    opacity: 0;
}

.large-logo-outline {
    width: 100%;
    height: 100vh;
    opacity: 1;
    position: absolute;
    left: 5px;
    top: -8px;
}

.blast {
    display: inline-block;
}

.developer {
    display: inline;
}

@media screen and (max-width: 1385px) {
    .header-title {
        font-size: 40px;
        line-height: 60px;
    }

    .smallc {
        height: 65px;
        margin-right: -8px;
        bottom: -3px;
    }
}

@media screen and (max-width: 1009px) {
    .developer {
        display: block;
    }
}

@media screen and (max-width: 785px) {

    .header-left-content-container {
        width: 100%;
    }
    .header-logo-container {
        display: none;
    }

    .developer {
        display: inline-block;
    }
}



@media screen and (max-width: 345px) {
    .header-title {
        font-size: 32px;
        line-height: 50px;
    }

    .smallc {
        height: 52px;
        margin-right: -9px;
    }
}

@media screen and (max-height: 280px), (max-width: 276px) {
    .header-title {
        font-size: 24px;
        line-height: 35px;
    }

    .smallc {
        height: 40px;
        margin-bottom: 1px;
        margin-right: -12px;
    }
}



/* Nav */
.navbar {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
}

.nav-content-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-container {
    margin-bottom: -2px;
    cursor: pointer;
}

.nav-link-container ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-link-container li {
    list-style: none;
}

.nav-link {
    color: var(--white);
    font-family: var(--pfont);
    font-size: 14px;
    padding-left: 30px;
    background-color: #0000;
}

.nav-link:hover {
    color: #f62356;
}


.toggle-button {
   display: none;
   position: absolute;
   background-image: url("/images/togglebutton.png");
   background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   width: 30px;
   height: 25px; 
   background-color: #0000;
   right: 10px;
}

@media screen and (max-width: 486px) {
   .toggle-button {
       margin-top: 9px;
       display: block;
   }

   .nav-link-container {
       display: none;
       opacity: 0;
       width: 100%;
       transition: 0.5s ease;
   }

   .nav-content-container {
       flex-direction: column;
       align-items: flex-start;
   }

   .nav-link-container ul {
       flex-direction: column;
       width: 100%;
   }

   .nav-link-container li {
       text-align: center;
       padding-bottom: 5px;
   }

   a:link {
       padding: 0;
   }

   .nav-link-container.active {
       display: flex;
       opacity: 1;
       
   }
}

/*About*/

.about-container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-container-content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.large-title-container {
    display: inline-block;
    
}

.large-title {
    border-bottom: var(--pink) 10px solid;
    font-size: 150px;
    line-height: 115px;
    margin-inline: 0px;
    margin-block: 0;
    margin: 0;
}

.about-container-title {
    color: var(--black);
    display: flex;
    justify-content: center;
    align-self: center;
}

.about-container-title h2 {
    transform: rotate(-90deg);
}

.about-inner-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    padding-left: 20px;
}

.about-inner-content-title {
    color: var(--black);
    font-size: 35px;
    width: 100%;
    padding-top: 10px;
}

.about-inner-content-text {
    color: var(--grey);
    font-size: 20px;
    line-height: 32px;
}

.about-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img {
    border-radius: 50%;
    width: 80%;
}

@media screen and (max-width: 944px) {
    .about-container-content {
        flex-wrap: wrap;
    }

    .about-container-title {
        width: 100%;
        justify-content: flex-start;
    }

    .about-container-title h2 {
        margin-inline: 0;
        margin-block: 0;
        margin-bottom: 15px;
        transform: rotate(0);
    }
}

@media screen and (max-width: 700px) {
    .about-img-container {
        display: none;
    }

    .about-inner-content {
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    .large-title {
        font-size: 90px;
    }
}

@media screen and (max-width: 308px) {
    .large-title {
        font-size: 75px;
    }

    .about-inner-content-text {
        font-size: 16px;
        line-height: 28px;
    }
}



/*Portfolio*/
.portfolio-container{
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-title-container {
    width: 100%;
}

.portfolio-title-container h2{
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: var(--white);
    margin: 0;
}

.portfolio-mobile-click {
    color: var(--grey);
    margin-bottom: -25px;
    display: none;
}

.portfolio-projects-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Project*/
.project-container {
    width: 50%;
    position: relative;
}

.project-image {
    width: 100%;
    display: block;
}

.project-details-container {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--white);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .75s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image-container:hover .project-details-container {
    opacity: 1;
}

.project-details-content {
    width: 75%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

.project-title-container {
    text-align: center;
    width: 100%;
}

.project-title {
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
    margin-block: 0;
    padding: 5px;
}

.project-subtitle {
    color: var(--pink);
    font-size:   28px;
    margin-block: 0;
}



.project-desc {
    text-align: center;
    color: var(--grey);
    font-size: 16px;
    line-height: 24px;
}

.project-button-container {
    text-align: center;
}

@media screen and (max-width: 1056px) {
    .project-details-content {
        width: 90%;
    }

    .project-desc {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 895px) {
    .project-container {
        width: 100%;
    }

    .project-details-content {
        width: 75%;
    }

    .project-desc {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 537px) {
    .project-details-content {
        width: 90%;
    }

    .project-desc {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 442px) {
    .project-title {
        font-size: 24px;
        padding: 0;
    }
    
    .project-subtitle {
        font-size:   20px;

    }

    .project-desc {
        font-size: 13px;
        line-height: 17px;
    }

    .portfolio-mobile-click {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    .project-title {
        font-size: 20px;
        padding: 0;
    }
    
    .project-subtitle {
        font-size:   18px;

    }

    .project-desc {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 3px;
    }

    .project-button-container button {
        padding: 8px;
        font-size: 12px;
    }
}

@media screen and (max-width: 327px) {
    .project-title {
        font-size: 17px;
        padding: 0;
    }
    
    .project-subtitle {
        font-size:   15px;
        margin-bottom: -7px;

    }

    .project-desc {
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 3px;
    }

    .project-button-container button {
        padding: 5px;
        font-size: 10px;
    }

}


/*Skills*/
.skills-container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.skills-title-container {
    margin-left: auto;
}

.skills-title-container h2{
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: var(--black);
    margin: 0;
}

.skills-inner-content-container {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Single Skill*/
.single-skill-container {
    color: var(--grey);
    padding-bottom: 10px;
    width: 47%;
}

.single-skill-text {
    font-size: 20px;
}

.single-skill-bottom-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -28px;
}

.single-skill-hr-container {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
    border: 1px solid #738290c0 ;
}

.single-skill-image {
    width: 28px;
}

@media screen and (max-width: 520px) {
    .skills-container {
        padding-top: 20px;
    }

    .skills-inner-content-container {
        margin-top: 30px;
    }

    .single-skill-container {
        width: 100%;
    }

}

/*Contact*/

.contact-container {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
}



.contact-content-container {
    display: flex;
    width: 100%;
}

.contact-left-header-container h1{
    color: var(--white);
    font-size: 60px;
    line-height: 49px;
}

.pink {
    color: var(--pink);
}

.contact-right-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.contact-right-container h2 {
    transform: rotate(-90deg);
    color: var(--white);   
    margin-inline: -150px;
}

.contact-bottom-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.github-button {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-image: url("/images/gitsocial.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #0000;
    transition: .75s ease;
}

.github-button:hover {
    background-image: url("/images/gitsocial-hover.png");
}

.twitter-button {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-image: url("/images/twitter.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #0000;
    transition: .75s ease;
}

.twitter-button:hover {
    background-image: url("/images/twitter-hover.png");
}

.linkedin-button {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-image: url("/images/linkedin.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #0000;
    transition: .75s ease;
}

.linkedin-button:hover {
    background-image: url("/images/linkedin-hover.png");
}

.copyright-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -5px;
}

.copyright {
    color: var(--grey);
}

@media screen and (max-width: 815px) {
    .contact-content-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .contact-right-container {
        display: flex;
        align-items: flex-start;
        order: -1;
        width: 100%;
    }
    .contact-title-container {
        width: 100%;
    }
    
    .contact-right-container h2 {
        transform: rotate(0deg);
        color: var(--white);   
        margin-inline: 0;
        margin: 0;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 277px) {
    .contact-left-header-container h1{
        font-size: 40px;
        line-height: 35px;
    }
}

/*Form*/

.form-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

::placeholder {
    color: rgb(184, 184, 184);
    font-size: 14px;
}

.form-top-container {
    margin-bottom: 10px;
}

.form-name {
    width: 300px;
    margin-right: 8px;
    background-color: #494949;
    color: var(--white);
    padding: 10px;
    font-family: var(--pfont);
    font-size: 14px;
    border: none;
}

.form-email {
    width: 300px;
    background-color: #494949;
    color: var(--white);
    padding: 10px;
    font-family: var(--pfont);
    font-size: 14px;
    border: none;
}

.form-subject-container {
    width: 100%;
}

.form-subject {
    width: 100%;
    margin-bottom: 10px;
    background-color: #494949;
    color: var(--white);
    padding: 10px;
    font-family: var(--pfont);
    font-size: 14px;
    border: none;
}

.form-text-container {
    width: 100%;
    margin-bottom: 8px;
}

.form-text {
    width: 100%;
    background-color: #494949;
    color: var(--white);
    padding: 10px;
    font-family: var(--pfont);
    font-size: 14px;
    border: none;
}

.form-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form-button {
    border: none;
    font-family: var(--pfont);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media screen and (max-width: 676px) {
    .form-name {
        width: 260px;
    }
    
    .form-email {
        width: 260px;
    }
}

@media screen and (max-width: 587px) {
    .form-name {
        width: 230px;
    }
    
    .form-email {
        width: 230px;
    }
}

@media screen and (max-width: 520px) {
    .form-name {
        width: 100%;
        margin-bottom: 9px;
    }
    
    .form-email {
        width: 100%;
    }
}

