@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
    --pink: #f62356;
    --black: #2f2f2f;
    --white: #f4f2f3;
    --grey: #738290;
    --pfont: 'Raleway', sans-serif;
    --titlefont: 'Squada One', cursive;
  }

body, html{
    margin: 0;
    padding: 0;
  }
  
* {
    box-sizing: border-box;
}

h1 {
    font-family: var(--titlefont);
    font-weight: 400;
    margin: 0;
}

h2 {
    font-family: var(--titlefont);
    font-weight: 400;
}

p {
    font-family: var(--pfont);
}

button {
    border: none;
    font-family: var(--pfont);
}


/*Header*/
.header-container {
    height: 100vh;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header-content-container {
    width: 90%;
    display: flex;
    height: 100vh;
    margin: 0;
}

.header-left-content-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.header-title {
    font-size: 55px;
    line-height: 80px;
}

.smallc {
    position: relative;
    height: 85px;
    margin-right: -5px;
    bottom: -5px;
    
}

.header-text {
    color: var(--grey); 
    padding: 5px 0 5px 0; 
    width: 100%;  
}

.main-button {
    padding: 10px;
    background-color: var(--pink);
    color: var(--white);
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    width: 114px;
}

.main-button:hover {
    background-color: var(--white);
    color: var(--pink);
    transition-duration: 0.35s;
}

.header-logo-container {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
    margin: 0;
}

.largelogo {
    width: 100%;
    height: 100vh;
    margin: 0;
}

/* Nav */
.navbar {
    background-color: var(--black);
    display: flex;
    justify-content: center;
}

.nav-content-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-container {
    margin-bottom: -2px;
}

a:link {
    text-decoration: none;
    color: var(--white);
    font-family: var(--pfont);
    padding-left: 30px;
}
  
a:visited {
    text-decoration: none;
    color: var(--white);
}
  
a:hover {
    text-decoration: none;
    color: var(--pink);
    transition-duration: 0.35s;
}
  
a:active {
    text-decoration: none;
    color: var(--white);
}

/*About*/

.about-container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-container-content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.large-title-container {
    display: inline-block;
    
}

.large-title {
    border-bottom: var(--pink) 10px solid;
    font-size: 150px;
    line-height: 115px;
    margin-inline: -90px;
}

.about-container-title {
    color: var(--black);
    transform: rotate(-90deg);
}

.about-inner-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    padding-left: 20px;
}

.about-inner-content-title {
    color: var(--black);
    font-size: 35px;
    width: 100%;
    padding-top: 10px;
}

.about-inner-content-text {
    color: var(--grey);
    font-size: 20px;
    line-height: 32px;
}

.about-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img {
    border-radius: 50%;
    width: 80%;
}

/*Portfolio*/
.portfolio-container{
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-title-container {
    width: 100%;
}

.portfolio-title-container h2{
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: var(--white);
    margin: 0;
}

.portfolio-projects-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Project*/
.project-container {
    width: 50%;
    position: relative;
}

.project-image {
    width: 100%;
    display: block;
}

.project-details-container {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--white);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .75s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image-container:hover .project-details-container {
    opacity: 1;
}

.project-details-content {
    width: 75%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-title-container {
    text-align: center;
    width: 100%;
}

.project-title {
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
    margin-block: 0;
    padding: 5px;
}

.project-subtitle {
    color: var(--pink);
    font-size:   28px;
    margin-block: 0;
    padding: 10px;
}



.project-desc {
    text-align: center;
    color: var(--grey);
    font-size: 18px;
    line-height: 28px;
    padding: 10px 10px;
}

.project-button-container {
    text-align: center;
}

/*Skills*/
.skills-container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.skills-title-container {
    margin-left: auto;
}

.skills-title-container h2{
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: var(--black);
    margin: 0;
}

.skills-inner-content-container {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Single Skill*/
.single-skill-container {
    color: var(--grey);
    padding-bottom: 10px;
    width: 47%;
}

.single-skill-text {
    font-size: 20px;
}

.single-skill-bottom-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -28px;
}

.single-skill-hr-container {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
    border: 1px solid #738290c0 ;
}

.single-skill-image {
    width: 28px;
}

/*Contact*/

.contact-container {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content-container {
    border: 1px springgreen solid;
}

.contact-content-container {
    display: flex;
    width: 100%;
}

.contact-left-header-container h1{
    color: var(--white);
    font-size: 60px;
    line-height: 49px;
    border: steelblue 1px solid;
}

.pink {
    color: var(--pink);
}

.contact-right-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.contact-right-container h2 {
    transform: rotate(-90deg);
    color: var(--white);   
    margin-inline: -150px;
}


